{% extends 'events/base.html' %}

{% block content %}
    <h1>Редактирование события: {{ event.title }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Изменить</button>

        <form method="post" action="{% url 'event_delete' event.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Вы уверены, что хотите удалить это событие?');">Удалить
            </button>
        </form>
    </form>

    <a href="{% url 'event_list' %}" class="btn btn-secondary">Назад к списку событий</a>
{% endblock %}
